<%- include('./includes/header.ejs') %>

<div
  style="
    margin: 0 aunto;
    max-width: 720px;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
  "
>
  <h3>Hello, <%= user %></h3>
  <p><%= content %></p>
</div>

<%- include('./includes/footer.ejs') %>
